body, html, a,p, ol, ul, div, img{
    margin:0px;
	padding: 0px;
}

#patents ul {
    list-style-type: none;
}

body{
	font-family: Rajdhani;
	font-size: 1.2em; 
}

.header{
	width:100%;
	background-image: url('../images/header.jpeg'); 
	background-size:cover;
	height:320px;
	border-style: hidden hidden solid hidden;
	border-width: 2px;
	border-color: #cc0066;
}


.titleText{
	padding-top:24px;
	font-size: 3.6em; 
	text-align: center; 
	font-family: 'Amiko', sans-serif;
}

.subTitleText{
	font-size:1.4em;
	text-align: center; 
	color: #57042e;
	letter-spacing: 6px;
	font-family: 'Michroma', sans-serif;
	margin-top: -22px;
	padding-left: 15px;
}

.researchMessage{
	display: inline-block; 
	width: 80%; 
	background-color:#fff;
	padding: 12px;
	font-family: Arial, sans-serif;
	color:rgb(93, 91, 91);
	font-size: .9em;
	line-height: 1.4em;
}

/* Clear floats after the columns */
.clearFloat:after {
  content: "";
  display: table;
  clear: both;
}

.lessonHeader{
	font-size:1.8em; 
	padding-top: 5px;
	font-weight: bolder;
	margin-left:-10px;
}

.sectionImg{
	width:15%; 
	float: left;
}

.grayBackground{
	background-color: #f0f0f0;
}

.card{
	width: 200px;
	height: 300px;
	background-color: #fff;
	float:left;
	margin-right: 12px;
	margin-bottom: 12px;
	text-align: center;
}

.card img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	margin-bottom: 10px;
	height: 220px;
	object-fit: cover;
/*	border-radius: 50%;*/
}

.lesson{
	max-width: 1024px;
	margin-left: auto;
	margin-right: auto;
	padding: 0px 5px 20px 5px;
	text-align: justify;
}

.moduleHeader{
	font-weight: bold;
	font-size: 1.4em;
	padding-top: 5px;
	padding-bottom: 5px;
}

.module{
	margin-bottom: 10px;
}

.projectDescription{
	width: 64%;
	display: inline-block;
	padding: 6px;
	font-family: Arial, sans-serif;
	color:rgb(93, 91, 91);
	font-size: .9em;
	line-height: 1.3em;
}
.projectDescription p{
	text-align: justify;
}

.projectImage {
	height: 100%;
	overflow: auto;
    display: inline-block;
    width: 30%; 
    vertical-align: top;
}
.projectImage img{
	width: 100%;
}

.links a {
  font-weight: bold;
  background-color: #cc0066; 
  border: none;
  color: white;
  padding: 3px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius:20px;
  font-size: 1em;
}

.links a:hover {
  background-color: #57042e; 
}

/* text styling */
.headerTextColor{
	color: #cc0066;
}

.boldText{
	font-weight: bold;
}

.whiteText{
	color: #fff;
}

.font1_25em{
	font-size: 1.25em;
}

.padding1emTop{
	padding-top: 1em;
}

.padding_5em{
	padding: .5em;
}

.text_algin_center{
	text-align: center;
}

@media only screen and (max-width: 768px) {
	.titleText{
		font-size: 4em;
		padding-top:20px;
	}
	.subTitleText{
		font-size: 2em;
	}
	.header{
		height: 180px;
	}
	.module div{
		width: 100%;
	}
}

@media only screen and (max-width: 480px) {
	.titleText{
		font-size: 3.1em;
		padding-top:16px;
	}
	.subTitleText{
		font-size: 1.4em;
	}
	.header{
		height: 140px;
	}

	.projectImage {
		width: 80%; 
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

	.sectionImg{
		display: none;
	}

	.card{
	width: 160px;
	height: 310px;
}

.projectDescription{
	width: 100%;
	display: inline-block;
}

}













