body, html, a,p, div, img{
    margin:0px;
	padding: 0px;
}
ul{
	padding: 3px 14px;
	margin: 3px 14px;
	box-sizing: border-box;
	list-style-type: circle;
}

ol{
	padding: 3px 14px;
	margin: 3px 14px;
	box-sizing: border-box;	
}
#patents ul {
    list-style-type: none;
}

body{
	font-family: Rajdhani;
	font-size: 1.2em; 
}
img{
	max-width: 100%;
}

/* Clear floats after the columns */
.clearFloat:after {
  content: "";
  display: table;
  clear: both;
}

.lessonHeader{
	font-size:1.8em; 
	padding-bottom: 10px;
	font-weight: bolder;
}

.sectionHeader{
	font-size: 1.4em;
}

.subsectionHeader{
	font-size: 1.1em;
}

.sectionImg{
	width:15%; 
	float: left;
}

.grayBackground{
	background-color: #f0f0f0;
}

.card{
	width: 200px;
	height: 300px;
	background-color: #fff;
	float:left;
	margin-right: 12px;
	margin-bottom: 12px;
	text-align: center;
}

.card img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	margin-bottom: 10px;
	height: 220px;
	object-fit: cover;
/*	border-radius: 50%;*/
}

.page{
	max-width: 1080px;
	margin-left: auto;
	margin-right: auto;
	box-sizing: border-box;
	padding: 10px;
	text-align: justify;
}

.section{
	margin-bottom: 10px;
}

.projectDescription{
	width: 64%;
	display: inline-block;
	padding: 6px;
	font-family: Arial, sans-serif;
	color:rgb(93, 91, 91);
	font-size: .9em;
	line-height: 1.3em;
}
.projectDescription p{
	text-align: justify;
}

.projectImage {
	height: 100%;
	overflow: auto;
    display: inline-block;
    width: 30%; 
    vertical-align: top;
}
.projectImage img{
	width: 100%;
}

.links a {
  font-weight: bold;
  background-color: #cc0066; 
  border: none;
  color: white;
  padding: 3px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius:20px;
  font-size: 1em;
}

.links a:hover {
  background-color: #57042e; 
}

.list_links a {
	font-weight: bold;
	border-bottom: 1px solid  #cc0066;
	color:#cc0066;
	padding: 3px 10px;
	/* text-align: center; */
	text-decoration: none;
	display: inline-block;
	font-size: 1.25em;
	cursor: pointer;
	margin-bottom: 8px;
  }
  
  .list_links a:hover {
	border-bottom: 2px solid  #cc0066;
  }
  

/* text styling */
.headerTextColor{
	color: #cc0066;
	padding-top: 10px;
}

.boldText{
	font-weight: bold;
}

.whiteText{
	color: #fff;
}

.font1_25em{
	font-size: 1.25em;
}

.padding1emTop{
	padding-top: 1em;
}

.padding_5em{
	padding: .5em;
}

.text_algin_center{
	text-align: center;
}

/* @media only screen and (max-width: 768px) {
	.titleText{
		font-size: 4em;
		padding-top:20px;
	}
	.subTitleText{
		font-size: 2em;
	}
	.header{
		height: 180px;
	}
	.module div{
		width: 100%;
	}
}

@media only screen and (max-width: 480px) {
	.titleText{
		font-size: 3.1em;
		padding-top:16px;
	}
	.subTitleText{
		font-size: 1.4em;
	}
	.header{
		height: 140px;
	}

	.projectImage {
		width: 80%; 
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

	.sectionImg{
		display: none;
	}

	.card{
	width: 160px;
	height: 310px;
}

.projectDescription{
	width: 100%;
	display: inline-block;
}

} */













