<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/highlight.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> 

<!------------------These relative links MUST be modified ---v-------------------------->
<!------------------These relative links MUST be modified --vvv------------------------->
<!------------------These relative links MUST be modified -vvvvv------------------------->

<script> $(function(){ $("#header_tutorials").load("../../pageElements/tutorials_meta_info.html"); }); </script> 
<script> $(function(){ $("#include_header").load("../../pageElements/header.html"); }); </script> 
<script> $(function(){ $("#include_footer").load("../../pageElements/footer.html"); }); </script> 
<script>hljs.highlightAll();</script>
<title>roboMind</title>
<div id="header_tutorials"></div>
</head>

<body>
<div id="include_header"></div> 




<div class="page">
	<p class="headerTextColor lessonHeader">Main Header</p>

<p> Text...</p>

<!------------Section with Python code------------>
<div class="sectionHeader headerTextColor">Section with Python Code </div>

<p> Section with Python code</p>

<pre> <code class="python">print("PYTHON Code") </code> </pre>
		

<!------------Section with Python code------------>
<div class="sectionHeader headerTextColor"> Section with Latex Code (Math)  </div>

<p> 
...for two vectors \( x, y \in \mathbb{R}^d \), their Euclidean distance is defined as
$$\|x - y\| = \sqrt{\sum_{i=1}^d (x_i - y_i)^2}.$$ For our use case,...
</p>





<!------------Comments------------->

<script src="https://utteranc.es/client.js"
        repo="robominded/robominded.github.io"
        issue-term="pathname"
        theme="github-light"
        crossorigin="anonymous"
        async>
</script>

<!-- page footer -->
<div id="include_footer"></div>

</body>
</html>
